<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <!-- import the webpage's client-side javascript file -->
    <script src="/hangman.js"></script>
    <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
    <script src="https://unpkg.com/aframe-text-geometry-component/dist/aframe-text-geometry-component.min.js"></script>
  </head>
  <body>
    <a-scene>
      <a-assets>
        <img id="sky360" src="https://cdn.glitch.com/9eaf1f46-83c1-4126-8d77-c70ffae16f90%2FSAM_100_0066.jpg?1543615487212" crossorigin="anonymous" /> <!-- image taken with 360 camera -->
        <img id="checkerboard" src="https://cdn.glitch.com/9a2659ab-5f85-4ce4-a83c-7c7bd097a951%2Fcheckerboard.png?1492612415343" crossorigin="anonymous" /> <!-- checkerboard image -->
        <img id="maze" src="https://cdn.glitch.com/9a2659ab-5f85-4ce4-a83c-7c7bd097a951%2Fmaze.png?1492612415189" crossorigin="anonymous" /> <!-- checkerboard image -->
        <img id="bunny" src="https://cdn.glitch.com/9a2659ab-5f85-4ce4-a83c-7c7bd097a951%2Fbunny.obj?1492612467462" crossorigin="anonymous" /> <!-- checkerboard image -->
      </a-assets>
        <a-sky src="#sky360" rotation="0 -45 0"></a-sky>
      <a-entity position="3000 0 0">
        <a-camera></a-camera>
      </a-entity>
      <a-entity geometry="primitive: torus;" material="src: #maze; repeat: 4 2; sphericalEnvMap: #sky360; metalness: 0.8; roughness: 0.2;" scale="2 2 2" position="0 0 -5">
        <a-animation attribute="rotation" dur="5000" from="0 0 0" to="0 360 0" repeat="indefinite" easing="linear"></a-animation>
      </a-entity>
      <a-entity obj-model="obj: #bunny;" material="src: #checkerboard; repeat: 100 100; sphericalEnvMap: #sky360; metalness: 0.8; roughness: 0.2;" position="0 -1 -5" scale="10 10 10"></a-entity>
    </a-scene>
    <!-- include the Glitch button to show what the webpage is about and
to make it easier for folks to view source and remix 
<div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
<script src="https://button.glitch.me/button.js"></script> -->
  </body>
</html>
