<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>VR Hangman!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <!-- import the webpage's client-side javascript file -->
    <script src="/hangman.js"></script>
    <script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script>
    <script src="https://unpkg.com/aframe-text-geometry-component/dist/aframe-text-geometry-component.min.js"></script>
    <script src="https://rawgit.com/rdub80/aframe-gui/master/dist/aframe-gui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.5.0/annyang.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.15/howler.min.js"></script>
    <script src="game.js" async defer></script>
  </head>
  <body>
    <a-scene>
      <a-assets>
        <img id="sky360" src="https://cdn.glitch.com/9eaf1f46-83c1-4126-8d77-c70ffae16f90%2FSAM_100_0066_cropped.jpg?1543631498113" crossorigin="anonymous" /> <!-- image taken with 360 camera --> 
        <a-asset-item id="hallelFont" src="https://cdn.glitch.com/9eaf1f46-83c1-4126-8d77-c70ffae16f90%2FGloria%20Hallelujah_Regular%20(3).json?1543629807291" crossorigin="anonymous" /> 
      </a-assets>
      <a-sky id="skybox" src="#sky360" scale="-1 1 1" rotation="0 -45 0"></a-sky>
      <!--             <a-sky id="skybox" material="color: blue;" scale="-1 1 1" rotation="0 -45 0"></a-sky> -->
      <a-entity id="word"
                text-geometry="value: Loading...; font: #hallelFont; width: 20;"
                position="-2 1 -2"
                material="color: white;"
                >
      </a-entity>
      <a-entity id="title"
                text="value: Don't Get Wet!; color: #33F; font: https://cdn.glitch.com/9eaf1f46-83c1-4126-8d77-c70ffae16f90%2FhallelFont.fnt?1543869012206; fontImage: https://cdn.glitch.com/9eaf1f46-83c1-4126-8d77-c70ffae16f90%2FhallelFont.png?1543869012447; width: 20;"
                position="-2 5 -7"
                ></a-entity>
      <a-entity id="instructions"
                text="value:  Speak your guess, for example, to guess I, say 'I'. Say 'music' for music; color: #33F; font: https://cdn.glitch.com/9eaf1f46-83c1-4126-8d77-c70ffae16f90%2FhallelFont.fnt?1543869012206; fontImage: https://cdn.glitch.com/9eaf1f46-83c1-4126-8d77-c70ffae16f90%2FhallelFont.png?1543869012447; width: 20;"
                position="-5 4 -9"
                ></a-entity>
      <a-entity id="wrong"
                text="value: Incorrect:; color: #F33; font: https://cdn.glitch.com/9eaf1f46-83c1-4126-8d77-c70ffae16f90%2FhallelFont.fnt?1543869012206; fontImage: https://cdn.glitch.com/9eaf1f46-83c1-4126-8d77-c70ffae16f90%2FhallelFont.png?1543869012447; width: 20;"
                position="-5 -6.5 -10"
                ></a-entity>
      <a-entity id="guesses"
                text="value: Guesses: 6; color: #3F3; font: https://cdn.glitch.com/9eaf1f46-83c1-4126-8d77-c70ffae16f90%2FhallelFont.fnt?1543869012206; fontImage: https://cdn.glitch.com/9eaf1f46-83c1-4126-8d77-c70ffae16f90%2FhallelFont.png?1543869012447; width: 20;"
                position="5 -4 -10"
                ></a-entity>
            <a-entity light="type: directional; color: #FFF; intensity: 1" position="-2 0 2" rotation="-20 0 0"></a-entity>
    </a-scene>
  </body>
</html>
