<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <!-- import the webpage's client-side javascript file -->
    <script src="/hangman.js"></script>
    <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
    <script src="https://unpkg.com/aframe-text-geometry-component/dist/aframe-text-geometry-component.min.js"></script>
    <script src="https://rawgit.com/rdub80/aframe-gui/master/dist/aframe-gui.min.js"></script>
  </head>
  <body>
    <a-scene>
      <a-assets>
        <img id="sky360" src="https://cdn.glitch.com/9eaf1f46-83c1-4126-8d77-c70ffae16f90%2FSAM_100_0066.jpg?1543615487212" crossorigin="anonymous" /> <!-- image taken with 360 camera -->
        <a-asset-item id="hallelFont" src="https://cdn.glitch.com/9eaf1f46-83c1-4126-8d77-c70ffae16f90%2FGloria%20Hallelujah_Regular.json?1543626198429" crossorigin="anonymous" />
      </a-assets>
<!--       <a-sky src="#sky360" rotation="0 -45 0"></a-sky> -->
      <a-entity id="theWord"
                text-geometry="value: DONT BE DUNKED; font: #hallelFont;"
                position="0 0 -7"
                material="color: red;"
                ></a-entity>

    </a-scene>
  </body>
</html>
